<h1>Check your dash</h1>
<table>
    <tr>
        <td>React Dash Version</td>
        <td><%= v %>
    </tr>
    <tr>
        <td>Github User</td>
        <td><%= user %>
    </tr>
    <tr>
        <td>settings.js</td>
        <td><%= gid1 %>
    </tr>
    <tr>
        <td>customDataHandlers.js</td>
        <td><%= gid2 %>
    </tr>
</table>
<root></root>
<script src="/lib/0.4/react-dash-demo.min.js">
