<head>
    <script type="text/javascript">
        expressDashSettings = <%- dashSettings %>;
    </script>
    <script src="/lib/0.4/react-dash-server.min.js"/>
    <script type="text/javascript">
        // some reason react load fails without this in express dev env
        // this might not / should not be neccessary in prod
        console.log('express', expressDashSettings);
    </script>
    <link rel="stylesheet" href="/static/react-server.css"></link>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="/lib/0.4/react-dash-server.min.css"></link>
</head>
<body>
    <div id="react-server-header">
        <h1>Your Dash</h1>
        <table>
            <tr>
                <td>React Dash Version</td>
                <td><%= v %></td>
            </tr>
            <tr>
                <td>Github User</td>
                <td><%= user %></td>
            </tr>
            <tr>
                <td>settings.js</td>
            I   <td><%= gid %></td>
            </tr>
        </table>
    </div>
    <div id="react-dash-container">
        <div id="root"></div>
    </div>
</body>
