<head>
    <script src="/lib/0.4/react-dash-demo.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/lib/0.4/react-dashboard.min.css"/>
</head>
<body>
    <div id="root"></div>
</body>
